@model List<TrilingualGamoDictionary.Models.Word> 

@{
    ViewData["Title"] = "Home";
}


<div class="d-flex align-items-center p-3 my-3 text-dark-50 bg-white rounded shadow-sm form-group">
    <div class="input-group col-md-8">
        <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="button">
                <i class="bi bi-search"></i>
            </button>
        </span>
    </div>
</div>
<div class="d-flex align-items-center p-3 my-3 bg-white rounded shadow-sm">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Word</th>
                <th scope="col">Meaning</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.WordTitle</td>
                    <td>@item.Meaning</td>
                </tr>
            }
        </tbody>
    </table>
</div>